.root {
  .list {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: -35px;
    gap: 18px;
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    width: 100%;
  }

  .taskBlock {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .taskTite {
    color: #4e4e4e;
  }

  .addTask {
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 16px;

    span {
      cursor: pointer;
    }
  }

  .taskCreate {
    color: #3d82eb;
    font-size: 16px;
    font-weight: 400;
  }

  .removeAllTasks {
    cursor: pointer;
    color: rgba(235, 61, 61, 1);
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
